@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Karla');

h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-weight: bold;
	background-color: #5ECCBD;
}

#mySlogan {
	font-style: italic;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: smaller;
}
body {
	font-family: 'Karla', sans-serif;
	font-weight: normal;
	background-color: #FF8FFC;
	text-align: left;
}

.menuItems {
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}
